#comment-area {
    padding: 2em;
    background-color: whitesmoke;
    border: 0.1em solid black;
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 6em;
}

.comment {
    padding-left: 1em;
    background-color: white;
    border: 0.1em solid black;
    margin-bottom: 1em;
}

.movie-titles {
    padding-top: 0.2em;
    flex-direction: column;
    justify-content: space-between;
}

.movie-titles a {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.movie-titles a:hover {
      font-style: italic;
      color: blue;
}

.movie-titles span {
    padding: 0.2em;
    float: right;
    text-align: right;
}