.movie-list {
    display: flex;
    flex-wrap: wrap; /* Empêche le passage à la ligne */
     /* Défilement horizontal si nécessaire */
    padding: 0;
    margin: 1em;
    justify-content: center;
}
.movie-item {
    flex: 0 0 auto; /* Permet aux éléments de se réduire si nécessaire */
    margin-right: 10px; /* Marge entre les éléments */
    text-align: center;
}
.movie-item:last-child {
    margin-right: 0; /* Pas de marge à droite pour le dernier élément */
}
.movie-item img {
    max-width: 60%;
    height: auto;
}