div.mainbox {
    background-color: whitesmoke;
    border-radius: 0.5em;
    padding: 1em;
    width: 80%;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 6em;
}

button,
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.redbtn {
    background-color: brown;
}

.redbtn:hover {
    background-color: rgb(83, 23, 23);
}

.commentbox {
    padding-left: 1em;
    background-color: white;
    border: 0.1em solid black;
    margin-bottom: 1em;
}

.commentbox a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

.commentbox a:hover {
    font-style: italic;
    color: blue;
}

.comment-date {
    float: right;
    text-align: right;
    font-style: italic;
    color: rgba(95, 84, 84, 0.685);
}

.inline-form {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin:0.5em;
}

#error-box {
    color: rgb(187, 50, 50);
    font-style: italic;
    background-color: white;
    border: 0.1em solid, rgb(187, 50, 50);
    padding: 1em;
    margin-top: 4em;
}