div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border: 0.1em solid black;
    padding: 2em;
    width: 50%;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 6em;
}

