div#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border: 0.1em solid black;
  padding: 2em;
  width: 50%;
  margin: auto;
  margin-top: 6em;
  margin-bottom: 6em;
}

form {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.btn-register, .btn-google {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn-register {
  background-color: brown;
  width: 150px;
}

.btn-register:hover {
  background-color: rgb(83, 23, 23);
}

.btn-google {
  background-color: #b1bfd6;
  width: 150px;
}

.btn-google img {
  height: 1.5em;
  margin-right: 0.5em;
}

.btn-google:hover {
  background-color: #8d9fbd;
}